.notification {
  background-color: #e41919;
  padding: 0px 4px;
  margin: auto;
  top: -20px;
  right: 0;
  color: white;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  outline: none;
}
