footer {
  background: linear-gradient(194.01deg, #000000d2 9.6%, #000000ce 89.64%);
}
.footer {
  padding-bottom: 0.1px;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;

  &__container {
    padding: 1.2rem;
    color: rgb(255, 255, 255);
  }
  &__brand {
    font-weight: 300;
    font-size: 20px;
    outline: none;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 1px rgb(150, 130, 223);
    cursor: pointer;
  }

  &__line {
    width: 90%;
    max-width: 85%;
    margin: 0 auto;
    height: 2px;
    background: #5e19ae;
    margin-bottom: 1.2rem;
  }
  &__registred {
    text-align: center;
    color: rgb(187, 187, 187);
  }
}
